.App {
  text-align: center;
}
.App-header .TopLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TopLine .LinksList {
  display: flex;
  
}
.App-header a {
  text-decoration: none;
  color: #000;
}